[Unit]
Description=MFA profile scraping timer, runs every 20 minutes
After=network.target

[Timer]
OnCalender=0/20:00
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
