[Unit]
Description=MFA scan tweets timer, runs once an hour
After=network.target

[Timer]
OnCalendar=0,6,12,18:30:00
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
