[Unit]
Description=Check tweet deletion and update engagement stats

[Service]
User=mfa
Group=mfa
Type=oneshot
ExecStart=flock -w 300 /var/lock/mfa -c "/usr/local/bin/mfa scan-tweets"
