[Unit]
Description=Scrape twitter target timelines

[Service]
User=mfa
Group=mfa
Type=oneshot
ExecStart=flock -w 300 /var/lock/mfa -c "/usr/local/bin/mfa sync-timelines"
